<template>
  <v-container text-center mt-5 pt-5>
    <!-- title -->
    <v-layout row wrap class="justify-center">
      <v-flex>
        <h1>🤝 Get started here</h1>
      </v-flex>
    </v-layout>

    <!-- error alert -->

    <v-layout v-if="error" row wrap class="justify-center">
      <v-flex xs12 sm6 lg4 md6>
        <form-alert :message="error.message"></form-alert>
      </v-flex>
    </v-layout>

    <!-- form -->
    <v-layout row wrap class="justify-center">
      <v-flex xs12 sm6 lg4 md6>
        <v-card color="accent" lg5>
          <v-container pl-8 pr-8>
            <v-form
              @submit.prevent="handleSignUpUser"
              v-model="isFormValid"
              lazy-validation
              ref="form"
            >
              <v-layout row mb-3 mt-3>
                <v-flex xs12>
                  <v-text-field
                    :rules="usernameRules"
                    v-model="username"
                    prepend-icon="face"
                    label="Username"
                    type="text"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row mb-3 mt-3>
                <v-flex xs12>
                  <v-text-field
                    :rules="emailRules"
                    v-model="email"
                    prepend-icon="email"
                    label="Email"
                    type="email"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row mb-3>
                <v-flex xs12>
                  <v-text-field
                    :rules="passwordRules"
                    v-model="password"
                    :append-icon="showPass ? 'visibility' : 'visibility_off'"
                    @click:append="showPass = !showPass"
                    :type="showPass ? 'text' : 'password'"
                    prepend-icon="extension"
                    label="Password"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row mb-3>
                <v-flex xs12>
                  <v-text-field
                    :rules="passwordRules"
                    v-model="passwordConfirmation"
                    type="password"
                    prepend-icon="gavel"
                    label="Confirm Password"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex xs12>
                  <v-btn
                    :loading="loading"
                    :disabled="!isFormValid || loading"
                    color="secondary"
                    type="submit"
                  >
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                    Sign up
                  </v-btn>
                  <h3>
                    Already have an account? 👉
                    <router-link class="box-link_dark" to="/signup">Sign in</router-link>
                  </h3>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "SignUp",
  data() {
    return {
      isFormValid: true,
      username: "",
      email: "",
      password: "",
      passwordConfirmation: "",
      showPass: false,
      usernameRules: [
        username => !!username || "Username is required",
        username =>
          username.length < 10 || "Username must be less than 10 characters"
      ],
      emailRules: [
        email => !!email || "Email is required",
        email => /.@+./.test(email) || "Email must be valid"
      ],
      passwordRules: [
        password => !!password || "Password is required",
        password =>
          password.length >= 4 || "Password must be at least 4 characters",
        confirmation =>
          confirmation === this.password || "Passwords mnust match"
      ]
    };
  },
  watch: {
    user(value) {
      // redirect to home page if user changes
      if (value) {
        this.$router.push("/");
      }
    }
  },
  computed: {
    ...mapGetters(["error", "loading", "user"])
  },
  methods: {
    handleSignUpUser() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("signUpUser", {
          username: this.username,
          email: this.email,
          password: this.password
        });
      }
    }
  }
};
</script>

<style>
.box-link_dark {
  color: #82b1ff;
  text-decoration: none;
  transition: box-shadow 0.5s, color 0.75s;
  box-shadow: inset 0 -0.2rem 0 0 rgb(51, 51, 51);
}

.box-link_dark:visited {
  color: lightslategrey;
}

.box-link_dark:hover,
.box-link_dark:focus {
  color: #ffc400;
  box-shadow: inset 0 -2rem 0rem 0 rgb(51, 51, 51);
}
</style>