<template>
  <v-container text-center mt-5 pt-5>
    <!-- title -->
    <v-layout row wrap class="justify-center">
      <v-flex>
        <h1>🖖 Welcome Back!</h1>
      </v-flex>
    </v-layout>

    <!-- error alert -->

    <v-layout v-if="error" row wrap class="justify-center">
      <v-flex xs12 sm6 lg4 md6>
        <form-alert :message="error.message"></form-alert>
      </v-flex>
    </v-layout>

    <!-- form -->
    <v-layout row wrap class="justify-center">
      <v-flex xs12 sm6 lg4 md6>
        <v-card color="secondary" dark lg5>
          <v-container pl-8 pr-8>
            <v-form
              @submit.prevent="handleSignInUser"
              v-model="isFormValid"
              lazy-validation
              ref="form"
            >
              <v-layout row mb-3 mt-3>
                <v-flex xs12>
                  <v-text-field
                    :rules="usernameRules"
                    v-model="username"
                    prepend-icon="face"
                    label="Username"
                    type="text"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row mb-3>
                <v-flex xs12>
                  <v-text-field
                    :rules="passwordRules"
                    v-model="password"
                    :append-icon="showPass ? 'visibility' : 'visibility_off'"
                    @click:append="showPass = !showPass"
                    :type="showPass ? 'text' : 'password'"
                    prepend-icon="extension"
                    label="Password"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex xs12>
                  <v-btn
                    :loading="loading"
                    :disabled="!isFormValid || loading"
                    color="accent"
                    type="submit"
                  >
                    <span slot="loader" class="custom-loader">
                      <v-icon light>cached</v-icon>
                    </span>
                    Sign in
                  </v-btn>
                  <h3>
                    Don't have an account? 👉
                    <router-link class="box-link_light" to="/signup">Sign up</router-link>
                  </h3>
                </v-flex>
              </v-layout>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "SignIn",
  data() {
    return {
      isFormValid: true,
      username: "",
      password: "",
      showPass: false,
      usernameRules: [
        username => !!username || "Username is required",
        username =>
          username.length < 10 || "Username must be less than 10 characters"
      ],
      passwordRules: [
        password => !!password || "Password is required",
        password =>
          password.length >= 4 || "Password must be at least 4 characters"
      ]
    };
  },
  computed: {
    ...mapGetters(["loading", "error", "user"])
  },
  watch: {
    user(value) {
      // redirect to home page if user changes
      if (value) {
        this.$router.push("/");
      }
    }
  },
  methods: {
    handleSignInUser() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("signInUser", {
          username: this.username,
          password: this.password
        });
      }
    }
  }
};
</script>

<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-link_light {
  color: white;
  text-decoration: none;
  transition: box-shadow 0.5s, color 0.75s;
  box-shadow: inset 0 -0.2rem 0 0 #ffc400;
}

.box-link_light:visited {
  color: lightslategrey;
}

.box-link_light:hover,
.box-link_light:focus {
  color: rgb(51, 51, 51);
  box-shadow: inset 0 -2rem 0rem 0 #ffc400;
}
</style>