<template>
  <v-app>
    <!-- Side Navbar -->

    <v-navigation-drawer app temporary fixed v-model="sideNav">
      <v-toolbar color="accent" dark flat>
        <v-app-bar-nav-icon @click="toggleSideNav"></v-app-bar-nav-icon>
        <v-toolbar-title>
          <router-link to="/" tag="span" style="cursor: pointer">
            <b>Vue</b>Share
          </router-link>
        </v-toolbar-title>
      </v-toolbar>

      <v-divider></v-divider>

      <!-- SIde Navbar Links -->

      <v-list>
        <v-list-item v-for="item in sideNavItems" :key="item.title" :to="item.link">
          <v-list-item-icon>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>{{item.title}}</v-list-item-content>
        </v-list-item>

        <!-- signout button  -->

        <v-list-item v-if="user" @click="handleSignOutUser">
          <v-list-item-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-item-action>
          <v-list-item-content>Signout</v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-container>
      <!-- Horizontal Navbar -->

      <v-app-bar color="primary" dark elevate-on-scroll fixed>
        <v-app-bar-nav-icon @click="toggleSideNav"></v-app-bar-nav-icon>
        <v-toolbar-title class="hidden-xs-only">
          <router-link to="/" tag="span" style="cursor: pointer">
            <b>Vue</b>Share
          </router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          flex
          prepend-icon="search"
          placeholder="Search posts"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-xs-only">
          <v-btn
            depressed
            color="transparent"
            v-for="item in horizontalNavItems"
            :key="item.title"
            :to="item.link"
          >
            <v-icon left class="hidden-sm-only">{{item.icon}}</v-icon>
            {{item.title}}
          </v-btn>

          <v-btn color="transparent" depressed to="/profile" v-if="user">
            <v-icon left class="hidden-sm-only">account_box</v-icon>
            <v-badge right color="accent">
              <!-- <span slot="badge">1</span> -->
              Profile
            </v-badge>
          </v-btn>

          <!-- signout button -->

          <v-btn depressed v-if="user" color="transparent" @click="handleSignOutUser">
            <v-icon left class="hidden-sm-only">exit_to_app</v-icon>Signout
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>

      <!-- Content -->

      <main>
        <v-container class="mt-10">
          <transition name="fade">
            <router-view />
          </transition>

          <!-- auth snackbar -->
          <v-snackbar color="success" bottom left v-model="authSnackbar" :timeout="5000">
            <v-icon class="mr-3">check_circle</v-icon>
            <h3>👌 You are now signed in!</h3>
            <v-btn depressed @click="authSnackbar = false" color="transparent">Close</v-btn>
          </v-snackbar>

          <!-- auth error snackbar -->
          <v-snackbar
            color="info"
            bottom
            left
            v-if="authError"
            v-model="authErrorSnackbar"
            :timeout="5000"
          >
            <v-icon class="mr-3">cancel</v-icon>
            <h3>{{authError.message}}</h3>
            <v-btn depressed to="/signin" color="transparent">Sign in</v-btn>
          </v-snackbar>
        </v-container>
      </main>
    </v-container>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "App",
  data() {
    return {
      sideNav: false,
      authSnackbar: false,
      authErrorSnackbar: false
    };
  },
  watch: {
    user(newValue, oldValue) {
      if (oldValue === null) {
        this.authSnackbar = true;
      }
    },
    authError(value) {
      if (value !== null) {
        this.authErrorSnackbar = true;
      }
    }
  },
  computed: {
    ...mapGetters(["user", "authError"]),
    horizontalNavItems() {
      let items = [
        { icon: "dashboard", title: "Posts", link: "/posts" },
        { icon: "exit_to_app", title: "Sign In", link: "/signin" },
        { icon: "person_add", title: "Sign Up", link: "/signup" }
      ];
      if (this.user) {
        items = [{ icon: "dashboard", title: "Posts", link: "/posts" }];
      }
      return items;
    },
    sideNavItems() {
      let items = [
        { icon: "dashboard", title: "Posts", link: "/posts" },
        { icon: "exit_to_app", title: "Sign In", link: "/signin" },
        { icon: "person_add", title: "Sign Up", link: "/signup" }
      ];
      if (this.user) {
        items = [
          { icon: "dashboard", title: "Posts", link: "/posts" },
          { icon: "stars", title: "Create Post", link: "/post/add" },
          { icon: "account_box", title: "Profile", link: "/profile" }
        ];
      }
      return items;
    }
  },
  methods: {
    handleSignOutUser() {
      this.$store.dispatch("signOutUser");
    },
    toggleSideNav() {
      this.sideNav = !this.sideNav;
    }
  }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>