<template>
  <v-container text-center mt-5 pt-5>
    <!-- title -->
    <v-layout row wrap class="justify-center">
      <v-flex>
        <h1>✍ Add post</h1>
      </v-flex>
    </v-layout>

    <!-- form -->
    <v-layout row wrap class="justify-center">
      <v-flex xs12 sm6 lg4 md6>
        <v-form @submit.prevent="handleAddPost" v-model="isFormValid" lazy-validation ref="form">
          <!-- title input -->
          <v-layout row mb-3 mt-3>
            <v-flex xs12>
              <v-text-field
                :rules="titleRules"
                v-model="title"
                label="Post Title"
                type="text"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <!-- image url input -->
          <v-layout row mb-3 mt-3>
            <v-flex xs12>
              <v-text-field
                :rules="imageRules"
                v-model="imageUrl"
                label="Image URL"
                type="text"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>

          <!-- image preview  -->

          <v-layout row>
            <v-flex xs12>
              <v-img :src="imageUrl" height="300px" />
            </v-flex>
          </v-layout>

          <!-- categories select -->

          <v-layout row>
            <v-flex xs12>
              <v-select
                v-model="categories"
                :rules="categoriesRules"
                :items="['Art', 'Photography', 'Travel', 'Technology', 'Education', 'Nature']"
                multiple
                chips
                label="Categories"
              ></v-select>
            </v-flex>
          </v-layout>

          <!-- description text area -->

          <v-layout row>
            <v-flex xs12>
              <v-textarea :rules="descRules" v-model="description" label="Description" type="text"></v-textarea>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs12>
              <v-btn
                :loading="loading"
                :disabled="!isFormValid || loading"
                color="accent"
                type="submit"
              >
                <span slot="loader" class="custom-loader">
                  <v-icon light>cached</v-icon>
                </span>
                Submit
              </v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "AddPost",
  data() {
    return {
      isFormValid: true,
      title: "",
      imageUrl: "",
      categories: [],
      description: "",
      titleRules: [
        title => !!title || "Title is required",
        title => title.length < 20 || "Title must have less than 20 characters"
      ],
      imageRules: [image => !!image || "Image is required"],
      categoriesRules: [
        categories =>
          categories.length >= 1 || "At least one category is required"
      ],
      descRules: [
        desc => !!desc || "Description is required",
        desc => desc.length < 200 || "Title must have less than 200 characters"
      ]
    };
  },
  computed: {
    ...mapGetters(["loading", "user"])
  },
  methods: {
    handleAddPost() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("addPost", {
          title: this.title,
          imageUrl: this.imageUrl,
          categories: this.categories,
          description: this.description,
          creatorID: this.user._id
        });
        this.$router.push("/");
      }
    }
  }
};
</script>