<template>
  <v-container grid-list-xl fluid>
    <!-- post cards -->
    <v-layout row wrap v-if="infiniteScrollPosts" class="justify-between">
      <v-flex xs12 sm6 lg3 md4 v-for="post in infiniteScrollPosts.posts" :key="post._id">
        <v-card hover>
          <v-img :src="post.imageUrl" height="25vh" lazy></v-img>

          <v-card-actions>
            <v-list-item-content>
              <v-card-title class="headline pt-0">{{post.title}}</v-card-title>
              <v-card-text
                class="grey--text pb-0"
              >{{post.likes}} likes - {{post.messages.length}} comments</v-card-text>
            </v-list-item-content>
            <v-btn @click="showPostCreator = !showPostCreator" icon>
              <v-icon>{{`keyboard_arrow_${showPostCreator ? 'up' : 'down'}`}}</v-icon>
            </v-btn>
          </v-card-actions>

          <!-- post-creator-tile -->
          <v-expand-transition>
            <v-card-text v-show="showPostCreator" class="grey lighten-4">
              <v-list-item>
                <v-list-item-avatar>
                  <img :src="post.createdBy.avatar" />
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title class="text--primary">{{post.createdBy.username}}</v-list-item-title>
                  <v-list-item-subtitle
                    class="font-weight-thin"
                  >Added {{formateDate(post.createdDate)}}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-action>
                  <v-btn icon ripple>
                    <v-icon color="grey lighten-1">info</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-card-text>
          </v-expand-transition>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- fetch more button -->
    <v-layout v-if="showMoreEnabled" column>
      <v-flex xs12>
        <v-layout justify-center row>
          <v-btn color="info" @click="showMorePosts">Fetch More</v-btn>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { INFINITE_SCROLL_POSTS } from "../../queries";

const pageSize = 3;

export default {
  name: "Posts",
  data() {
    return {
      pageNum: 1,
      showMoreEnabled: true,
      showPostCreator: false
    };
  },
  apollo: {
    infiniteScrollPosts: {
      query: INFINITE_SCROLL_POSTS,
      variables: {
        pageNum: 1,
        pageSize
      }
    }
  },
  methods: {
    showMorePosts() {
      this.pageNum += 1;

      this.$apollo.queries.infiniteScrollPosts.fetchMore({
        variables: {
          pageNum: this.pageNum,
          pageSize
        },
        updateQuery: (prevResult, { fetchMoreResult }) => {
          const newPosts = fetchMoreResult.infiniteScrollPosts.posts;
          const hasMore = fetchMoreResult.infiniteScrollPosts.hasMore;

          this.showMoreEnabled = hasMore;

          return {
            infiniteScrollPosts: {
              __typename: prevResult.infiniteScrollPosts.__typename,
              posts: [...prevResult.infiniteScrollPosts.posts, ...newPosts],
              hasMore
            }
          };
        }
      });
    },
    formateDate(date) {
      let d = new Date(parseInt(date)),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("/");
    }
  }
};
</script>